:root {
   --brend-color: #757575;
   --title-color: #212121;
   --bgc: #2f303a;
   --l-s: 0.03em;
   --bgc-body: #e5e5e5;
   --color-icon: #2196f3;
}

/* -------------------обнуление----------- */
h1,
h2,
h3,
h4,
ul,
p {
   margin: 0;
   padding: 0;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}
/* @keyframes changeBgColor {
    0% {
      var(--brend-color) ;
   }

    50% {
      color: orange; 
   } 

   100% {
      color: #2196f3;
   }
} */

/* -------------------обнуление----------- */

body {
   font-family: "Roboto", sans-serif;
   color: var(--brend-color);
   font-size: 14px;
   background-color: #fff;
   line-height: 1.5;
}

.cotener {
   width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
   /* outline: solid #bd0a0a; */
}

.activ::after {
   content: "";
   position: absolute;
   display: block;
   bottom: -1px;
   left: 0;
   width: 100%;
   height: 4px;
   background: var(--color-icon);
   border-radius: 2px;
}

.nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.heder {
   border-bottom: 1px solid #ececec;
}

.heder a {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
}

.logo {
   font-family: "Raleway";
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   color: var(--title-color);
}
.heder .logo {
   padding-top: 25px;
   padding-bottom: 25px;
}

.logo > span {
   color: var(--color-icon);
}

/* ------------------nav-bar------------ */

.nav-list.list {
   display: flex;
}

.adress {
   display: flex;
   margin-left: auto;
}

.nav {
   margin-left: 93px;
}

.nav,
.adress {
   font-weight: 500;
   letter-spacing: var(--l-s);
}
.link {
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
   color: var(--color-icon);
}

.nav-list a {
   color: var(--title-color);
}

.nav-list li:not(:last-child) {
   margin-right: 50px;
}

.adress a {
   color: var(--brend-color);
   display: flex;
   align-items: center;
}

.icons {
   fill: currentColor;
   margin-right: 10px;
}

.adress li:not(:first-child) {
   margin-left: 50px;
}
/* ------------------nav-bar------------ */

/*----------------- hiro--------------- */
.hiro {
   color: #ffffff;
   text-align: center;
   padding-top: 200px;
   padding-bottom: 180px;
   max-width: 1600px;
   margin: 0 auto;

   background-color: #c4c4c4;
   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.5)), url(../images/Img\ bg.jpg);
}

.hiro-title {
   margin-bottom: 30px;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}

.btn {
   font-family: inherit;
   color: #ffffff;
   background-color: var(--color-icon);
   box-shadow: none;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.9;
   letter-spacing: 0.06em;
   display: inline-block;
   padding: 10px 32px;
   min-width: 200px;
   min-height: 50px;

   border: 1px solid transparent;

   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}

.btn:hover {
   cursor: pointer;
}
/*----------------- hiro--------------- */

/* --------------section 1------------ */

.section {
   padding: 94px 0;
}

.bgc-greey {
   background-color: var(--bgc-body);
}

.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.list-section {
   display: flex;
   text-align: start;
}

.list-section .items {
   width: calc((100%-90px) / 4);
   margin-right: 30px;
}
.list-section .items:last-child {
   margin-right: 0;
}

.items-image {
   height: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
   background: #f5f4fa;
   border-radius: 4px;
}
section.unit {
   padding-top: 94px;
}
/* --------------section 2------------ */
.section-title {
   margin-bottom: 50px;
}
.thumb {
   position: relative;
}

.item img {
   display: block;
}

.overley {
   color: #fff;
   background: rgba(47, 48, 58, 0.8);
   position: absolute;
   width: 100%;
   bottom: 0;
   padding: 27px 0;

   font-size: 14px;
   line-height: 1.15;
   text-align: center;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.list-img {
   display: flex;
}

.list-title {
   color: var(--title-color);
   font-weight: 700;
   letter-spacing: var(--l-s);
   text-transform: uppercase;
   margin-bottom: 10px;
}

.list-img .item {
   width: calc((100%-60px) / 3);
   margin-right: 30px;
}

.item:last-child {
   margin-right: 0;
}

.text {
   line-height: 1.7;
}
/* --------------section 3------------ */
.bgc-nogreey {
   background: #f5f4fa;
}
.section-title {
   color: var(--title-color);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   letter-spacing: var(--l-s);
   text-align: center;
}
.section-title.imag {
   padding-top: 94px;
}
.img-list {
   display: flex;
}

.container {
   padding: 30px 0;
}

.card h3 {
   color: var(--title-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: var(--l-s);
   margin-bottom: 10px;
}

.card-text {
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: var(--l-s);
   margin-bottom: 16px;
}

.card {
   width: calc((100%-90px) / 4);
   margin-right: 30px;
   background-color: #fff;

   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}
.card:last-child {
   margin-right: 0;
}

.masters-soc-link {
   width: 44px;
   height: 44px;
   /* background-color: #d2b48c; */
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #afb1b8;
}

.masters-soc-list {
   display: flex;
   justify-content: center;
}

.masters-soc-item + .masters-soc-item {
   margin-left: 10px;
}

.masters-soc-icons {
   fill: currentColor;
}
.masters-soc-link:hover,
.masters-soc-link:focus {
   background: var(--color-icon);
   color: #fff;
   transition: color 250ms, background 200ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------- section 3---------------- */

/* ----------------------- section 4 ---------------- */

.company-list {
   display: flex;
   justify-content: space-between;
}

.company-list-link {
   width: 170px;
   height: 92px;
   /* background-color: #d2b48c; */

   display: flex;
   align-items: center;
   justify-content: center;
   color: #afb1b8;
   border: 1px solid #afb1b8;
   border-radius: 4px;
}
.company-incons {
   fill: currentColor;
}

.company-list-link:hover,
.company-list-link:focus {
   color: var(--color-icon);
   border-color: var(--color-icon);
   transition: color 250ms, border-color 200ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------------------- section 4 ---------------- */

.futter {
   background-color: var(--bgc);
   padding-top: 60px;
   padding-bottom: 60px;
}

.futter .cotener {
   text-align: start;
}

.futter .logo {
   color: #ffffff;
   display: block;
   margin-bottom: 20px;
   padding: 0;
}

.adress-item {
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: var(--l-s);
}
.adress-item:not(:last-child) {
   margin-bottom: 9px;
}

.adress-item a {
   color: rgba(255, 255, 255, 0.6);
}
a[href*="https"] {
   color: #ffffff;
}

.tumb-futter-list {
   display: flex;
   align-items: baseline;
}
.tumb-futter-list-items + .tumb-futter-list-items {
   margin-left: 75px;
}
.futter .section-title {
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;

   color: #ffffff;
   margin-bottom: 20px;
   text-align: start;
}
.soc {
   background: rgba(255, 255, 255, 0.1);
   color: #ffffff;
}

/* ------------------ portfolio------------------- */
.btn-radio {
   padding: 94px 0;
}

.btn-radio button {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   display: block;

   text-align: center;
   letter-spacing: var(--l-s);

   border: none;
   background-color: transparent;
}

.contener-btn {
   display: flex;
   justify-content: center;

   align-items: center;
   margin-bottom: 50px;
}

.btn-items button {
   cursor: pointer;
   min-height: 38px;
   min-width: 73px;
   background: #f5f4fa;
   border-radius: 4px;
}
.btn-items:not(:last-child) {
   margin-right: 8px;
}

.image-card a {
   color: var(--brend-color);
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: var(--l-s);
}

.image-card {
   padding-top: 50px;
   padding-bottom: 94px;
}

.title-card {
   color: var(--title-color);
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   margin-bottom: 4px;
}

.desc {
   padding: 20px 24px;
   background: #ffffff;
   border-right: 1px solid #eeeeee;
   border-bottom: 1px solid #eeeeee;
   border-left: 1px solid #eeeeee;
}
.desc .text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.9x;

   letter-spacing: var(--l-s);

   color: var(--brend-color);
}
.btn-items button:hover,
.btn-items button:focus {
   transition: color 250ms, background 200ms, box-shadow 200ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   display: block;
   text-align: center;
   background: var(--color-icon);
   color: #ffffff;
   cursor: pointer;
   min-height: 38px;
   min-width: 73px;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
}
/* .link.portfolio, */
.link.activ {
   color: var(--color-icon);
   position: relative;
}

.img-grid {
   display: flex;
   flex-wrap: wrap;
}
.grid-items {
   display: block;
   width: calc((100% - 60px) / 3);
   margin-right: 30px;
   margin-bottom: 30px;
   background-color: #fff;
}
.thumb-hidden {
   position: relative;
   overflow: hidden;
}
.hiden-card {
   position: absolute;
   transform: translateY(100%);

   top: 0;
   left: 0;

   width: 100%;
   height: 100%;
   padding: 63px 24px;
   background: rgba(33, 150, 243, 0.9);
   color: #ffffff;

   font-size: 18px;
   line-height: 1.56;
   letter-spacing: 0.03em;
}

.grid-items:hover .hiden-card {
   transform: translateY(0);
   transition: transform 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.grid-items:nth-child(3n) {
   margin-right: 0;
}
.grid-items:nth-last-child(-n + 3) {
   margin-bottom: 0;
}
.grid-items a:hover,
.grid-items a:focus {
   display: inline-block;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* -------------- backdrop ----------- */

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden .modal {
   transform: translateY(100%) scale(0.1);
   transition-duration: 500ms;
   transition-timing-function: ease;
}
.backdrop.is-hidden {
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
   transition: opacity 300ms, visibility 300ms;
   transition-timing-function: ease;
}
.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   width: 528px;
   height: 581px;
   padding: 8px;

   background: #ffffff;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   transition: transform 500ms cubic-bezier(0.49, 0.02, 0.23, 0.92);
}

.close {
   position: absolute;
   top: 8px;
   right: 8px;

   width: 30px;
   height: 30px;
}
.modal button {
   cursor: pointer;

   padding: 0;

   border-radius: 50%;
   background: #ffffff;
   border: 1px solid rgba(0, 0, 0, 0.1);
}
/* .icon-close {
   
} */
/* @keyframes rotateX {
   0% {
      transform: perspective(400px) rotateX(0deg);
   }

   100% {
      transform: perspective(400px) rotateX(180deg);
   }
} */
